@import "../../../util/styles.scss";

.title {
  font-family: "source_code";
  text-align: left;
  margin-bottom: 20px;
  max-width: 100%;
  gap: 10px;

  .line {
    border-bottom: 1px solid grey;
    width: 100%;
  }
}

@media only screen and (max-width: 376px) {
  .title {
    h1 {
      font-size: $font20;
    }
  }
}
