@import "../../../util/styles.scss";
.visible {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.no-visible {
  opacity: 0;
}
.Experience .experience-details {
  width: 80%;
  margin-left: 30px;
  @media only screen and (max-width: $screenMobile) {
    margin-left: 0px;
    width: 100%;
  }

  .experience-title {
    line-height: $lineHeight42;
    font-size: $font23;
    @include hover_line;

    @media only screen and (max-width: $screenMobile) {
      font-size: $font18;
      margin-top: 15px;
    }
  }
  .period {
    font-family: source_code;
    font-size: $font16;
    color: $greyColor;
    @media only screen and (max-width: $screenMobile) {
      font-size: $font13;
      margin: 10px 0 20px;
    }
  }
  .description-warp {
    max-width: 650px;
    .description-row {
      display: flex;
      margin: 10px 0;
      color: $greyColor;
      .description-text {
        line-height: $lineHeight24;
        @media only screen and (max-width: $screenMobile) {
          line-height: 21px;
        }
      }
      svg {
        color: $purpleColor;
      }
    }
  }
}
