@import "../../../util/styles.scss";
.visible {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.no-visible {
  opacity: 0;
}
.Experience .experience-details {
  margin-left: 30px;
  @media only screen and (max-width: 376px) {
    margin-left: 5px;
  }

  .experience-title {
    line-height: $lineHeight42;
    font-size: $font23;
    @include hover_line;

    @media only screen and (max-width: 376px) {
      font-size: $font15;
    }
  }
  .period {
    font-family: source_code;
    font-size: $font16;
    color: $greyColor;
    @media only screen and (max-width: 376px) {
      font-size: $font15;
    }
  }
  .description-warp {
    max-width: 650px;

    @media only screen and (max-width: 376px) {
      max-width: 250px;
    }
    .description-row {
      display: flex;
      margin: 10px 0;
      color: $greyColor;
      .description-text {
        line-height: $lineHeight24;
        @media only screen and (max-width: 376px) {
          line-height: 19px;
          font-size: $font14;
        }
      }
      svg {
        color: $purpleColor;
      }
    }
  }
}
