@import "../../util/styles.scss";
$borderRadius: 5px;
.About {
  padding-top: 120px;
  color: $whiteColor;
  text-align: left;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .link-number {
    @include linkNumber;
  }
  .title {
    max-width: 650px;

    .line {
      max-width: 70%;
      min-width: none;
    }
  }
  .about-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    max-width: 850px;
    @media only screen and (max-width: $screenMobile) {
      width: 100%;
      flex-direction: column;
      align-items: center;
      background: #1a1a1a;
      padding: 10px 0 30px;
      border-radius: 5px;
    }
    .about-text-warp {
      @include section-text;
      max-width: 650px;
      .about-text {
        margin-bottom: 30px;
      }
      .tech-warp {
        flex-flow: wrap;
        justify-content: space-between;
        max-width: 500px;
        font-size: $font16;
        .tech-col {
          margin: 10px 0;
          min-width: 130px;
          font-family: source_code;
          font-size: $font14;
        }
        svg {
          color: $purpleColor;
          margin-right: 5px;
        }
      }
    }
    .img-warp {
      position: relative;
      width: fit-content;

      .my-pic {
        @include wh300;
        z-index: 4;
        // position: absolute;
        border-radius: $borderRadius;
        @media only screen and (max-width: $screenMobile) {
          position: relative;
        }
      }
      .filter {
        @include wh300;
        position: absolute;
        background-color: $purpleOpacity;
        z-index: 6;
        border-radius: $borderRadius;
        transition: all 0.5s;
        top: 0;
        &:hover {
          background-color: #64ffdb00;
          + .square {
            left: $font15;
            top: $font15;

            @media only screen and (max-width: $screenMobile) {
              left: 5px;
              top: 5px;
            }
          }
        }
      }

      .square {
        border-radius: $borderRadius;
        @include wh300;
        border: 1px solid $purpleColor;
        position: absolute;
        left: 30px;
        top: 30px;
        z-index: 0;
        transition: all 0.5s;
      }
      @media only screen and (max-width: $screenMobile) {
        .my-pic,
        .filter,
        .square {
          @include wh200;
        }
        .square {
          left: $font15;
          top: $font15;
        }
      }
    }
  }
}
@media only screen and (max-width: $screenMobile) {
  .About {
    padding: $mobilePaddingTopContainer;
    height: unset;
    .title {
      .line {
        max-width: 100%;
      }
    }
  }
}
@media (max-width: 1920px) and (min-width: 1281px) {
  .About {
    width: 80%;
    margin: auto;
    .about-row {
      max-width: 1024px;
    }
  }
}
@media (max-width: 2400px) and (min-width: 1920px) {
  .About .about-row {
    max-width: 1450px;
  }
}
