@import "../../util/styles.scss";
$borderRadius: 5px;
.About {
  padding-top: $paddingTopContainer;
  // height: 100vh;
  color: $whiteColor;
  text-align: left;

  .link-number {
    @include linkNumber;
  }
  .title {
    display: flex;
    align-items: center;
    .line {
      border-bottom: 1px solid grey;
      width: 38%;
      margin-left: 18px;
      margin-top: 3px;
    }
  }
  .about-row {
    display: flex;
    justify-content: space-between;
    width: 60%;
    .about-text-warp {
      @include section-text;
      max-width: 90%;
      .about-text {
        margin-bottom: 30px;
      }
      .tech-warp {
        flex-flow: wrap;
        justify-content: space-between;
        max-width: 500px;
        font-size: $font16;
        .tech-col {
          margin: 10px 0;
          min-width: 130px;
          font-family: source_code;
          font-size: $font14;
        }
        svg {
          color: $purpleColor;
          margin-right: 5px;
        }
      }
    }
    .img-warp {
      position: relative;
      width: fit-content;
      .my-pic {
        @include wh300;
        z-index: 4;
        position: absolute;
        border-radius: $borderRadius;
      }
      .filter {
        @include wh300;
        position: absolute;
        background-color: $purpleOpacity;
        z-index: 6;
        border-radius: $borderRadius;
        transition: all 0.5s;
        &:hover {
          background-color: #64ffdb00;
          + .square {
            left: 15px;
            top: 15px;
          }
        }
      }

      .square {
        border-radius: $borderRadius;
        @include wh300;
        border: 1px solid $purpleColor;
        position: absolute;
        left: 30px;
        top: 30px;
        z-index: 0;
        transition: all 0.5s;
      }
    }
  }
}
