@import "../../util/styles.scss";
#site-header.hide {
  top: -60px;
}
.hide {
  top: -60px;
}
.MobileHeader {
  display: block;
  height: 60px;
  background-color: #131313;
  box-sizing: border-box;
  padding: 0px 10px;
  transition: all 0.5s ease;
  display: none;
  position: sticky;
  top: 0;
  z-index: 10;
  .menu-icon-warp {
    direction: rtl;
    cursor: pointer;
    position: relative;
    top: -4px;
    transform: rotateX(0deg);
    transition: all 0.8s ease;
    &:hover {
      transform: rotateX(180deg);
      top: 16px;
    }
    .line1,
    .line2,
    .line3 {
      height: 3px;
      background: purple;
      position: relative;
    }
    .line1 {
      width: 20px;
      top: 0px;
      transition: all 0.5 ease;
    }
    .line2 {
      width: 30px;
      top: 10px;
    }
    .line3 {
      width: 40px;
      top: 20px;
      transition: all 0.5 ease;
    }
  }
  .drawer {
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: 300px;
    background-color: black;
    position: fixed;
    right: 0;
    top: 24px;
    z-index: 1;
    top: 0;
    .Header {
      display: block;
      height: unset;
      .navbar {
        display: block;
        svg {
          display: none;
        }
      }
      .right-nav {
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        gap: 6%;
        .link-warp {
          flex-direction: column;
          margin: 10px 0;
        }
      }
    }
    .close-modal {
      color: white;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 11;
      svg {
        font-size: 50px;
        color: $purpleColor;
        animation: spin 0.5s linear;
      }
    }
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(20%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
}
@media only screen and (max-width: 376px) {
  .MobileHeader {
    display: block;
    // padding: $mobilePaddingTopContainer;
  }
}
