@import "../../util/styles.scss";

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;

  min-height: 100vh;
  text-align: left;
  box-sizing: border-box;

  @media only screen and (max-width: $screenMobile) {
    padding-bottom: 15vh;
    min-height: 80vh;
  }

  .my-name-is {
    color: $purpleColor;
    font-family: source_code;
  }
  .full-name,
  .profession {
    font-size: $titleFont;
    line-height: 1.5;
    font-family: quicksilver_bold;
    @media only screen and (max-width: $screenMobile) {
      font-size: $font35;
    }
  }
  .full-name {
    color: $whiteColor;
  }
  .profession {
    color: $greyColor;
  }
  .description {
    margin-top: 60px;
    font-family: quicksilver;
    font-size: $font23;
    color: white;
    max-width: 684px;
    line-height: 33px;
  }
}
@media (max-width: 2400px) and (min-width: 1281px) {
  .Home {
    width: 80%;
    margin: auto;
  }
}
