@import "../../util/styles.scss";

.Home {
  height: 100vh;
  text-align: left;
  padding-top: 30px;
  scroll-margin-top: 80px;
  box-sizing: border-box;
  padding: 0 10px;
  @media only screen and (max-width: 376px) {
    text-align: center;
  }
  .my-name-is {
    color: $purpleColor;
    font-family: source_code;
  }
  .full-name,
  .profession {
    font-size: $titleFont;
    line-height: 1.5;
    font-family: quicksilver_bold;
    @media only screen and (max-width: 376px) {
      font-size: $font35;
    }
  }
  .full-name {
    color: $whiteColor;
  }
  .profession {
    color: $greyColor;
  }
  .description {
    margin-top: 60px;
    font-family: quicksilver;
    font-size: $font23;
    color: white;
    max-width: 684px;
    line-height: 33px;
  }
}
