@import "../../util/styles.scss";

.Contact {
  padding-top: $paddingTopContainer;
  height: 50vh;
  color: $whiteColor;
  text-align: center;
  height: 100vh;
  box-sizing: border-box;

  @media only screen and (max-width: 376px) {
    padding: $mobilePaddingTopContainer;
  }
  h1 {
    text-align: center;
  }
  p {
    white-space: break-spaces;
    @include section-text;
  }
  .link-number {
    @include linkNumber;
  }
  .resume-btn {
    width: fit-content;
    margin: 20px auto;
  }
}
