@import "../../util/styles.scss";

.Contact {
  padding-top: $paddingTopContainer;
  height: 100vh;
  color: $whiteColor;
  text-align: center;
  box-sizing: border-box;
  .title {
    justify-content: center;
    .line {
      display: none;
    }
  }
  @media only screen and (max-width: $screenMobile) {
    padding: $mobilePaddingTopContainer;
    height: 50vh;
  }
  h1 {
    text-align: center;
  }
  p {
    white-space: break-spaces;
    @include section-text;
  }
  .link-number {
    @include linkNumber;
  }
  .resume-btn {
    width: fit-content;
    margin: 20px auto;
  }
}
