@import "../../util/styles.scss";

#site-header.hide {
  top: -60px;
}
.hide {
  top: -60px;
}
.Header {
  transition: all 0.5s ease;
  font-family: source_code;
  padding: 0px 50px 0 43px;
  background-color: #131313;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 60px;
  .navbar {
    justify-content: space-between;
    .left-nav {
      @media only screen and (max-width: $screenMobile) {
        display: none;
      }
    }
    .right-nav {
      svg {
        cursor: pointer;
      }
    }
    // .link-number {
    //   color: $purpleColor;
    //   margin-right: 5px;
    //   @media only screen and (max-width: $screenMobile) {
    //     margin: 0;
    //   }
    // }
    // .link-to {
    //   color: $whiteColor;
    //   text-decoration: none;
    //   cursor: pointer;
    //   &:hover {
    //     color: $purpleColor;
    //   }
    // }
    .logo-img {
      width: 50px;
    }
    // .link-warp {
    //   margin: 0 7px;
    // }
    .resume-btn {
      color: #64ffda;
      background-color: transparent;
      border: 1px solid $purpleColor;
      padding: 6px 13px;
      border-radius: 3px;
      margin-left: 25px;
      @media only screen and (max-width: $screenMobile) {
        margin: 0;
      }
      a {
        text-decoration: none;
        color: $whiteColor;
      }
      &:hover {
        background-color: $transparentHover;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: $screenMobile) {
  .Header {
    display: none;
  }
}
