@import "../../util/styles.scss";

.Experience {
  padding-top: $paddingTopContainer;
  color: $whiteColor;
  text-align: left;
  width: 100%;
  max-width: 900px;
  margin: auto;
  height: 100vh;

  @media only screen and (max-width: $screenMobile) {
    height: 100vh;
  }
  .link-number {
    @include linkNumber;
  }

  .experience-list-warp {
    display: flex;
  }
  .tabs-container {
    border-left: 1px solid $greyColor;
  }
  .tabs-indicator {
    right: unset;
    left: 0;
    background-color: $purpleColor;
    width: 2px;
    transition: all 0.3s ease;
  }
  .tab-btn {
    align-items: flex-start;
    text-transform: capitalize;
    color: $greyColor;
    font-family: source_code;
    transition: all 0.3s ease;
    min-height: unset;
    &:hover {
      color: $purpleColor;
    }
    @media only screen and (max-width: $screenMobile) {
      padding: 12px 7px;
      font-size: $font15;
      text-align: left;
    }
  }
  .tabs-root {
    width: 20%;
    @media only screen and (max-width: $screenMobile) {
      width: 35%;
    }
    .selected-tab {
      color: $purpleColor;
      background: transparent;
    }
  }
  .MuiTouchRipple-root {
    display: none;
  }
}
