@import "../../util/styles.scss";

.Work {
  padding-top: $paddingTopContainer;
  color: $whiteColor;
  padding-right: 100px;
  box-sizing: border-box;
  width: 100%;
  @media only screen and (max-width: 376px) {
    padding: 80px 10px 0px;
  }

  .card-container {
    padding-bottom: 100px;
    position: relative;
    @media only screen and (max-width: 376px) {
      padding-bottom: 20px;
    }
  }
  .on-flex {
    gap: 30px;
  }
  .link-number {
    @include linkNumber;
  }

  .line {
    border-bottom: 1px solid grey;
    // width: 50%;
    width: 100%;
    margin-left: 18px;
    margin-top: 3px;

    @media only screen and (max-width: 376px) {
      max-width: 19%;
    }
  }
}
